/* ----------------------------------------------------------------------------------
			FLEX MIXINS
---------------------------------------------------------------------------------- */

/* +============================+
		A. INTRODUCTION/NOTES:
+=============================+ */

/*

  Just all the mixins for flexy flex stuff.

*/


/* +=============================+
		B. TABLE OF CONTENTS:
+=============================+ */

/*
    A. Notes
    B. Table of Contents

	1. Flex
		1.1 Basis
		1.2 Grow
		1.3 Shrink
		1.4 Max Widths
*/


/* +=============================+
		1. Flex
+=============================+ */


 /* =-----------------------------=
    1.1 Flex Basis
  */

@mixin flex-item-basis($flx-basis) {
	flex-basis: #{$flx-basis}px;
}


 /* =-----------------------------=
    1.2 Flex Grow
  */

@mixin flex-item-grow($flx-grow: 0) {
	flex-grow: $flx-grow;
}


 /* =-----------------------------=
    1.3 Flex Shrink
  */

@mixin flex-item-shrink($flx-shrink: 0) {
	flex-shrink: $flx-shrink;
}

 /* =-----------------------------=
    1.4 Max Widths
  */

//NOTE: If you leave it unitless then it will be calulated in pixels.

@mixin max-width($max-width) {
	$unit: '';
	@if unitless($max-width) {
		$unit: 'px';
	}
	max-width: #{$max-width}$unit;
}
