/* ----------------------------------------------------------------------------------
			VARIABLES
---------------------------------------------------------------------------------- */

/* +============================+
		A. INTRODUCTION/NOTES:
+=============================+ */
/*

  This is where you can find all of the variables used throughout all of the scss. These give you much control, and just like spidy's dead uncle says, "With great power comes great responsibility to not be dumb with it!"... Or something like that. Be careful making changes to these because they are used globally, thus your lil changes made to these could be disastrous to the entire globe! So if you have to be an idiot, do it carefully, please.


*/

/* +=============================+
		B. TABLE OF CONTENTS:
+=============================+ */
/*

    A. Notes
    B. Table of Contents

    1. Colors
  		1.1 Primary
  		1.2 Secondary
  		1.3 Statuses
  		1.4 Specific Elements
    2. Screen Sizes
    3. Padding and Margin Sizes
    4. Transistion Speeds
    5. Typography
    6. Borders



*/



/* +=============================+
		1. COLORS
+=============================+ */

/*
-Please keep the colors in the following format
-Format: "$cl-name: #Hex; //Used in..." Ex: Borders, text, buttons
*/

//TODO: Clean up what colors we actually use
//TODO: Set the lighten and darken values.


/* =-----------------------------=
		1.1 Primary
 */

  $cl-white: #ffffff;
  $cl-blue: #00cbff;
  $cl-navy: #173c62;

/*=----------| Lightened/Darkened |----------=*/

  $cl-white-d1: darken(#fff, 1%);
  $cl-blue-l1: lighten( $cl-blue, 5%);
  $cl-blue-l2: lighten( $cl-blue, 10%);
  $cl-blue-l3: lighten( $cl-blue, 20%);
  $cl-navy-l1: lighten( $cl-navy, 5%);
  $cl-navy-l2: lighten( $cl-navy, 10%);
  $cl-navy-l3: lighten( $cl-navy, 20%);


/* =-----------------------------=
		1.2 Secondary
 */

  $cl-green: #00bb7b;
  $cl-charcoal: #494949;
  $cl-gray: #e2e2e2;
  $cl-dark-blue: #0091EA;

  $cl-inactive-gray: #FAFAFA;


/*=----------| Lightened/Darkened |----------=*/

  $cl-green-l1: #81eaac;
  $cl-green-l2: #c6ffdd;
  $cl-green-l3: #e7fff1;
  $cl-charcoal-l1: lighten( $cl-charcoal, 5%);
  $cl-charcoal-l2: lighten( $cl-charcoal, 10%);
  $cl-charcoal-l3: lighten( $cl-charcoal, 20%);
  $cl-gray-l1: lighten( $cl-gray, 5%);
  $cl-gray-l2: lighten( $cl-gray, 10%);
  $cl-gray-l3: lighten( $cl-gray, 15%);
  $cl-gray-d1: darken( $cl-gray, 2%);
  $cl-gray-d2: darken( $cl-gray, 15%);
  $cl-gray-d3: darken( $cl-gray, 35%);
  $cl-dark-blue-l1: lighten( $cl-dark-blue, 5%);
  $cl-dark-blue-l2: lighten( $cl-dark-blue, 10%);
  $cl-dark-blue-l3: lighten( $cl-dark-blue, 20%);


/* =-----------------------------=
		1.3 Accents
*/

  $cl-coral: #f37965;
  $cl-light-blue: #75cfe6;

/*=----------| Lightened/Darkened |----------=*/

  $cl-coral-l1: lighten( $cl-coral, 5%);
  $cl-coral-l2: lighten( $cl-coral, 10%);
  $cl-coral-l3: lighten( $cl-coral, 20%);
  $cl-light-blue-l1: lighten( $cl-light-blue, 5%);
  $cl-light-blue-l2: lighten( $cl-light-blue, 10%);
  $cl-light-blue-l3: lighten( $cl-light-blue, 20%);



/* =-----------------------------=
		1.3 Statuses
 */

  $cl-good: #00bb7b;
  $cl-semi-good: #81eaac;
  $cl-fair: #ffc709;
  $cl-semi-poor: #f9a000;
  $cl-poor: #ed193f;

  $cl-success: $cl-good;
  $cl-error: $cl-poor;
  $cl-warning: #f9a000;
  $cl-inactive-gray: #FAFAFA;



/* =-----------------------------=
		1.4 Specific Elements
 */

  $cl-pagebg: #eef2f5;
  $cl-pagebg-d1: darken( $cl-pagebg, 10%);
  $cl-placeholder: $cl-charcoal;
  $cl-link-default: $cl-dark-blue;



/* +=============================+
		2. Screen Sizes
+=============================+ */

  //SMALL
  $screen-small: 400px;

  //MEDIUM
  $screen-medium: 800px;

  //LARGE
  $screen-large: 1170px;


  //RESPONSIVE SCALLING FOR: FONT, MARGIN, PADDING
  $responsive-screen-max: 1170; //Need to be unitless for the mixin to work
  $responsive-screen-min: 400; //Need to be unitless for the mixin to work


/* +=============================+
		3. Padding and Margin Sizes
+=============================+ */


//NOTE: When using these in the padding and margin mixins just put 'xs' instead of '$xs' and only the desktop varible needs to be inclued, the mobile one is insert automatically.
//NOTE: Leave these unitless, they are calculated in pixels.

  //Desktop						//Mobile
	$xs: 4;							$xs--m: 4;
	$sm: 8;							$sm--m: 6;
	$md: 16;						$md--m: 10;
	$lg: 24;						$lg--m: 14;
	$xl: 32;						$xl--m: 18;
	$xxl: 40;						$xxl--m: 24;
	$xxxl: 64;					$xxxl--m: 32;
	$xxxxl: 92;					$xxxxl--m: 40;
	$xxxxxl: 128;				$xxxxxl--m: 64;

//Pading ane Margin respoive ratio for horizontal sizing on smaller screens. NOTE: Only applies to card margins and site container padding. NOTE: If the ratio is 1 it will stay the same as it scales to a smaller screen. if it is .5 it will become half of the size when it gets to the small screen size.
  $responsive-ratio: .5; //Valid Range: 1 - .1
  $responsive-min: 4; //Leave unitless, it is calculated in px. This is the minimum size the padding or margin is allowed to be on the resposive mixins.


/* +=============================+
    4. Transistion Speeds
+=============================+ */


//Use these when setting any transition speed on the 'transition' property.

  $transistion-slow: .6s;
  $transistion: .2s;
  $transistion-fast: .1s;


/* +=============================+
    5. Typography
+=============================+ */

  $line-height: 1.61; //This sets the default line-height.

/* +=============================+
    6. Borders
+=============================+ */

  $border-radius--sm: 2px; //Default
  $border-radius--md: 4px;
  $border-radius--lg: 8px;

  $default-border-color: $cl-gray;
  $default-border-thickness: 1px;
