<div data-flex--item="full" class="footer">
  <div data-flex--item="site-container p--md" data-flex--container>
    <div data-flex--item="basis--100">
      <img src="{{ " /images/logo--white.svg " | prepend: site.baseurl }}" class="-logo">
    </div>
    <div data-flex--item="basis--400" data-flex--container class="footer__section-1">
      <h3 data-flex--item="full">Renegades</h3>
      <p data-flex--item="full">Established 2015</p>
      <span data-flex--item="full">Normal Humans<br>Extraordinary Things</span>
    </div>
    <div data-flex--item="basis--400 pull--right" data-flex--container class="footer__section-2">
      <h4 data-flex--item="full">Contact Us</h4>
      <a data-flex--item="full" href="mailto:renegades@normalhumans.org">renegades@normalhumans.org</a>
      <a data-flex--item="full" href="tel:3853367221">385-336-7221</a>
    </div>

  </div>
</div>
