<div data-flex--item="full" class="site__menu">
  <div data-flex--item="site-container" data-flex--container="all-grandchildren nowrap">
    <div data-flex--item="basis--250" data-flex--container="nowrap" class="site__menu__logo">
      <img src="{{ "/images/logo--small.svg" | prepend: site.baseurl }}" height="72px;" class="none">
      <h1>Renegades</h1>
    </div>
    <div data-flex--item="grow--1" data-flex--container="row-items--bottom right" class="site__menu__links hide">
      <a href="#">Find Your Adventure</a>
      <a href="#">Community</a>
      <a href="#">Contact Us</a>
    </div>
  </div>
</div>
