<div data-flex--item="full" class="our-mission">
  <div data-flex--item="site-container p-y--4xl" data-flex--container="center all-grandchildren">
    <h1 data-flex--item="full p-b--xxl">Our Mission</h1>
    <div data-flex--item="basis--350 p--md m--md" class="-item">
      <i data-flex--item="full" class="fa fa-arrow-circle-o-down"></i>
      <p data-flex--item="full">blah blah blah balhba lsdkfj </p>
    </div>
    <div data-flex--item="basis--350 p--md m--md" class="-item">
      <i data-flex--item="full" class="fa fa-arrow-circle-o-down"></i>
      <p data-flex--item="full">blah blah blah balhba lsdkfj </p>
    </div>
    <div data-flex--item="basis--350 p--md m--md" class="-item">
      <i data-flex--item="full" class="fa fa-arrow-circle-o-down"></i>
      <p data-flex--item="full">blah blah blah balhba lsdkfj </p>
    </div>
  </div>
</div>
