@import "variables-mixins.scss";
/* ----------------------------------------------------------------------------------
			MAIN STYLES
---------------------------------------------------------------------------------- */

/* +============================+
		A. INTRODUCTION/NOTES:
+=============================+ */

/*

  All of the styles for Renegades.

*/


/* +=============================+
		B. TABLE OF CONTENTS:
+=============================+ */

/*
    A. Notes
    B. Table of Contents

	1. Global
		1.1
			1.1.1
	2. Nav Bar

*/


/* +=============================+
		1. Global
+=============================+ */


/* =-----------------------------=

 */


/*=----------|1.1.1  |----------=*/

html {
	box-sizing: border-box;
	height: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*, *:before, *:after {
	box-sizing: inherit;
}


body {
	font-family: 'Raleway', sans-serif;
	background-color: $cl-pagebg;
	font-weight: 400;
	padding: 0;
	margin: 0;
	min-height: 100%;
	min-height: 100vh;
	color: $cl-gray-1;
	max-width: 100vw;
	overflow-x: hidden;
}
//Font weights: 100,300,400,700

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}

a {
	color: $cl-secondary;
	text-decoration: none;
}




/* +=============================+
		2. Nav Bar
+=============================+ */

.site__menu {
	position: fixed;
	background-color: transparentize($cl-gray-2, .1);
	z-index: 20;
	padding: 8px;
	height: 80px;
	color: #fff;
}

.site__menu__logo {
	h1 {
		font-size: 44px;
		font-weight: 100;
		line-height: 1.3;
		color: #fff;
	}
}

.site__menu__links {
	z-index: 20;
	a {
		font-size: 24px;
		font-weight: 400;
		line-height: 1.7;
		color: #fff;
		@include padding(4, y);
		@include padding(lg, x);
		border-bottom: 2px solid rgba(0, 0, 0, 0);
		&.-segment {
			font-size: 18px;
			line-height: 1;
			text-align: center;
		}
		&:hover {
			border-bottom: 2px solid #fff;
		}
	}
}

.float-nav {
	position: relative;
	height: 80px;
	& > div {
		position: static;
	}
	&.-fixed {
		& > div {
		position: fixed;
		top: 0;
	}
	}
}


/* +=============================+
		3. Hero
+=============================+ */

.site__hero {
	position: relative;
	height: 100%;
	height: 100vh;
	background-color: $cl-gray-2;
	color: #fff;
	img.-bg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		width: 100vw;
		min-height: 100%;
		min-height: 100vh;
		height: auto;
		z-index: 0;
		opacity: .7;
	}
	img.-logo {
		width: 40vh;
		height: 40vh;
		z-index: 5;
	}
	h1 {
		@include font-size (54, 128);
		font-weight: 100;
		line-height: 1.5;
		padding-top: 12px;
		padding-top: 3vh;
	}
	a {
		@include padding(xxl, t);
		cursor: pointer;
		color: #fff;
		&:hover {
			color: $cl-gray-4;
			transition: color 1s;
		}
	}
	h2 {
		@include font-size (26, 48);
		@include padding(md);
		text-align: center;
	}
	i {
		font-size: 48px;
		font-weight: 100;
	}
}

.site__cta {
	background-color: $cl-gray-1;
	background-color: rgba(50, 54, 56, .8);
	z-index: 10;
	position: relative;
	min-height: 100vh;
	@include padding(xxl, y);
	@include padding(xl, x);
	.site__cta__item {
		overflow: hidden;
		position: relative;
		color: #fff;
		background-color: #fff;
		min-height: 400px;
		@include margin(lg, x);
		@include margin(md, y);
		img {
			position: absolute;
			top: 0;
			left: 0;
			min-height: 300px;
			z-index: 10;
		}
		h3 {
			position: absolute;
			@include font-size (26, 32);
			@include padding(md);
			z-index: 20;
			color: $cl-gray-1;
			width: 100%;
			text-align: center;
			left: 0;
			bottom: 20%;
		}
	}

}

.site__video {
	position: relative;
	a {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		&.-hide {
			display: none;
		}
	}
	iframe {
		width: 100%;
		height: calc(100vw * .5625);
	}
}

.site__cta--B {
	position: relative;
	background-color: $cl-primary;
	h3,a {
		text-align: center;
	}
	h3 {
		font-size: 32px;
	}
	a {
		border: 1px solid $cl-gray-1;
		font-size: 32px;
	}
}

.float-nav {
	position: relative;
	& > div {
		position: static;
	}
	&.-fixed {
		& > div {
		position: fixed;
		top: 0;
	}
	}
}


/* +=============================+
		4. Segment Page
+=============================+ */

.segment-page__hero {
	height: 70%;
	height: calc(100vh - 200px);
	min-height: 500px;
	background-color: $cl-gray-1;
	h1 {
		width: 100%;
		text-align: center;
		@include padding(xxxxl, t);
		@include font-size(64, 82);
		color: #fff;
	}
}

.segment-page__about {

}

/* +=============================+
		5. About Us
+=============================+ */

.about-us {
	position: relative;
	background-color: $cl-gray-4;
	.-img {
		width: 100%;
		height: auto;
	}
	h2{
	font-size: 48px;
	text-align: center;
}
	h3 {
		text-align: center;
		font-size: 48px;
	}
	p {
		line-height: 1.7;
	}
}



/* +=============================+
		6. Our Mission
+=============================+ */

.our-mission {
	position: relative;
	background-color: #fff;
	h1 {
		font-size: 48px;
		text-align: center;
	}
	i,p {
		text-align: center;
	}
	i {
		font-size: 64px;
	}
	p {
		font-size: 18px;
	}
}


/* +=============================+
		7. Footer
+=============================+ */

.footer {
	position: relative;
	background-color: $cl-gray-1;
	color: #fff;
	.-logo {
		height: 100px;
		width: 100px;
	}
}

.footer__section-1 {
	padding-top: 6px;
	@include padding(md, l);
	line-height: 1.4;
	p {
		font-size: 12px;
	}
	span {
		font-style: italic;
		font-size: 14px;
	}
}
.footer__section-2 {
	text-align: right;
}


/* +=============================+
		8. Get Involved
+=============================+ */

.get-involved {
	h2 {
		font-size: 32px;
		text-align: center;
	}
	p {
		font-size: 20px;
	}
}


/* +=============================+
		9. Contact Us
+=============================+ */

.contact-us {
	background-color: #fff;
	h1 {
		font-size: 48px;
		text-align: center;
	}
}
