/* ----------------------------------------------------------------------------------
			CONTAINERS
---------------------------------------------------------------------------------- */


/* +============================+
		A. INTRODUCTION/NOTES:
+=============================+ */
/*

  These are basic containers for the site's main content.

*/


/* +=============================+
		B. TABLE OF CONTENTS:
+=============================+ */
/*

    A. Notes
    B. Table of Contents

		1. Site Containers
		  1.1 Responsive
		  1.2 Full Width
		2. Cards
		3. Boxes

*/


/* +=============================+
		1. Site Containers
+=============================+ */


//TODO: Need to depreciate these and just use flex items instead.

/* =-----------------------------=
		1.1 Responsive
 */

//NOTE: If you need a flex item to be the same size as a site container, do not use a site container instead use "data-flex--item='site-container'"

[data--site-container~='responsive'] {
	margin-left: auto;
	margin-right: auto;
	width: 95% !important;
	width: 95vw !important;
	max-width: $screen-large;
}
@media (max-width: $screen-large) {
	[data--site-container~='responsive'] {
		max-width: 95% !important;
		max-width: 95vw !important;
	}
}

/* =-----------------------------=
		1.2 Full Width
 */

[data--site-container~='full-width'] {
	width: 100% !important;
	width: 100vw !important;
}



//NOTE: Margins should not be applied on on site containers.
//NOTE: If you need a flex item to be the same size as a site container, do not use a site container instead use "data-flex--item='site-container'"

/* +=============================+
		2. Cards
+=============================+ */

//NOTE: Cards are anything that is placed immediately inside a site container. Their x axis margins will scale down more than normal to leave more room for content inside them.


//Make sure to give cards the 'card' flex--item attribute so the proper responsive margins are applied.
[data-flex--item~="card"] {

	//Margins
	&[data-flex--item~='m--none'] {
		margin: 0;
	}
	&[data-flex--item~='m--xs'] {
		@include margin-scaling(xs ,$responsive-ratio);
	}
	&[data-flex--item~='m--sm'] {
		@include margin-scaling(sm ,$responsive-ratio);
	}
	&[data-flex--item~='m--md'] {
		@include margin-scaling(md ,$responsive-ratio);
	}
	&[data-flex--item~='m--lg'] {
		@include margin-scaling(lg ,$responsive-ratio);
	}
	&[data-flex--item~='m--xl'] {
		@include margin-scaling(xl ,$responsive-ratio);
	}
	&[data-flex--item~='m--xxl'] {
		@include margin-scaling(xxl ,$responsive-ratio);
	}
	&[data-flex--item~='m--3xl'] {
		@include margin-scaling(xxxl ,$responsive-ratio);
	}
	&[data-flex--item~='m--4xl'] {
		@include margin-scaling(xxxxl ,$responsive-ratio);
	}
	&[data-flex--item~='m--5xl'] {
		@include margin-scaling(xxxxl ,$responsive-ratio);
	}
}

//NOTE: Padding classes are generic, see flex__spacing-helpers.scss



/* +=============================+
		3. Boxes
+=============================+ */

// NOTE: This is currently not used for anything, but maybe one day.
//[data-flex--item~="box"] {}

//NOTE: Margin and Padding classes for boxes are generic, see flex__spacing-helpers.scss
