---
layout: default
title: About Us
---

<div data-flex--item="full" class="segment-page__hero">
  <img src="{{ "/images/about-us.jpg" | prepend: site.baseurl }}">
  <h1>{{page.title}}</h1>

</div>
{% include mission.html %}


<div data-flex--item="full" class="about-us">
  <div data-flex--item="site-container p-y--4xl" data-flex--container>

    <div data-flex--item="basis--400 grow--1 p--lg">
      <img src="{{ " /images/team.jpg" | prepend: site.baseurl }}" data-flex--item="elevation--4" class="-img">
    </div>
    <div data-flex--item="basis--400 grow--1 p--lg" data-flex--container>
      <h3 data-flex--item="full">About Us</h3>
      <p data-flex--item="full">We are a local non-profit helping people to become passionate about the outdoors. Each of us has a specific outdoors passion that has helped us balance our lives and become more well-rounded. Our mission is to help people develop their passion through experiencing the outdoors.</p>
    </div>

  </div>
  <div data-flex--item="site-container p-y--4xl" data-flex--container>

    <div data-flex--item="basis--400 grow--1 p--lg" data-flex--container>
      <h3 data-flex--item="full">What We Do</h3>
      <p data-flex--item="full">As a local non-profit, Renegades actively seeks to build a community of normal people doing extraordinary things. By helping people believe that they can accomplish difficult things we instill passion for the outdoors and support a positive life style. Becoming a part of the community and learning to improve, they become the best they can be. By sponsoring events, leading campaigns and promoting community activities we bring about the Renegade passion in everyone.</p>
    </div>

  </div>
</div>


{% include contact-us.html %}
